<table>
    <tr>
        <td><strong>@Html.Label("Name :")</strong></td>
        <td>  @Html.TextBox("txtName")</td>
    </tr>
    <tr>
        <td>@Html.Label("Add1 :")</td>
        <td>@Html.TextBox("txtAdd1")</td>
    </tr>
    <tr>
        <td>@Html.Label("Add2 :")</td>
        <td>@Html.TextBox("txtAdd2")</td>
    </tr>
    <tr>
        <td>@Html.Label("City : ")</td>
        <td>@Html.TextBox("txtCity")</td>
    </tr>
    <tr>
        <td>@Html.Label("Zip :")</td>
        <td>@Html.TextBox("txtZip")</td>
    </tr>
</table>
